<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>jQuery UI Autocomplete - Remote datasource</title>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		
		<script src="/static/jquery.bxslider/jquery.bxslider.js"></script>
		<link rel="stylesheet" href="/static/jquery.bxslider/jquery.bxslider.css" type="text/css" />
		<style>
			.ui-autocomplete-loading {
				background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
			}
		</style>
		<script>
            $(function() {
                function log(message) {
                    $("<div>").text(message).prependTo("#log");
                    $("#log").scrollTop(0);
                }


                $("#search").autocomplete({
                    source : function(request, response) {
			            $.ajax({
			                url: "/tpsearch",
			                dataType: "json",
			                data: {
			                    term : request.term,
			                    {% if catalog %}
			                    catalog: '{{ catalog }}'		                 
			                    {% endif %}
			                },
			                success: function(data) {
			                    response(data);
			                }
			            });
			        },
                    minLength : 2,
                    select : function(event, ui) {
                        $("#videoid").html(ui.item.id);
                        $("#title").html(ui.item.label);
                        $("#index").html(ui.item.type);
                        $("#description").html(ui.item.value);
                        $("#publishedDate").html(ui.item.publishedDate);
                        insertPlayer(ui.item.id, ui.item.type);
                        try {
                            insertMorelike(ui.item.id);
                            insertHTML5Player(ui.item.video);
                        } catch (Exception) {

                        }

                    }
                });
            });
		</script>
	</head>
	<body>
		<div class="container">
			<div class="ui-widget">
				<label for="search">Search: </label>
				<input id="search">
			</div>
		</div>

		<div class="container">
			<div class="row">

				<div class="col-md-4">
					Results
				</div>
			</div>
			<div class="row">

				<div class="col-md-1">
					Title
				</div>
				<div class="col-md-8" id="title"></div>
			</div>
			<div class="row">

				<div class="col-md-1">
					ID
				</div>
				<div class="col-md-8" id="videoid"></div>
			</div>
			<div class="row">

				<div class="col-md-1">
					Index
				</div>
				<div class="col-md-8" id="index"></div>
			</div>
			<div class="row">

				<div class="col-md-1">
					Description
				</div>
				<div class="col-md-8" id="description"></div>
			</div>
			<div class="row">

				<div class="col-md-1">
					Published Date
				</div>
				<div class="col-md-8" id="publishedDate"></div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4" id="html5player"></div>
				<div class="col-md-4" id="myPlayer"></div>
			</div>
		</div>

		<div class="container">
			More like this
			<div id="morelike" class="row"></div>
		</div>

		<script type="text/javascript">
            function insertHTML5Player(url) {
                $('#html5player').html("<div></div>");
                $('#html5player').append("<video width='320' height='240' controls autoplay><source src='" + url + "' type='video/mp4'></video>");
            }

            function insertPlayer(videoId, videoType) {
                
            }

            function insertMorelike(id) {
                $('#morelike').html("<div></div>");
                $.ajax({
                    type : "GET",
                    url : "/mlt/" + id + "/any",
                    dataType : 'json',
                    success : function(data) {
                        $.each(data, function(index, element) {
                            $('#morelike').append($('<div class="col-md-1"><img width="120" src="' + element.thumbnail + '" alt="' + element.name + '" onclick="insertPlayer(' + element.id + ',\'' + element.type + '\');">'));
                        });

                    }
                });
            }


            $(document).ready(function() {
                $('.slider1').bxSlider({
                    slideWidth : 100,
                    minSlides : 10,
                    maxSlides : 30,
                    slideMargin : 10
                });
            });

		</script>

	</body>
</html>